.pagination{
    display: block;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 158px;
    &__btn{
        background: #F0F0F0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        & span {
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 25px;
            text-align: center;
            color: $main-color;
        }
        &_active{
            background: #F0F0F0;
            opacity: 0.3;
            cursor: default;
            & span {
                color: rgba(0, 0, 0, .2)
            }
        }
        &:focus, &:active {
            outline: none;
        }

        & + .pagination__btn{
            margin-left: 4px;
        }
    }
}
